.myBox{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 2px solid black;
    transition: 
    width 28s,
    height 2s,
    background-color 2s,
    rotate 2s;;
}

.myBox:hover {
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate: 180deg;
  }

  .myBox {
    
    transition: width 2s, height 2s, transform 2s;
  }
  